@media screen and (max-width: 1024px){
	.header-btn-inner.top-header {
	    display: inline-block;
	}

	.header-btn-outer {
	    display: none;
	}

	.nav-toggle-btn {
	    display: flex;
	}

	.nav-list {
	    position: fixed;
	    right: -100%;
	    top: 110px;
	    display: block;
	    width: 300px;
	    height: 100vh;
	    background: #ffffff;
	    align-items: flex-start;
	    z-index: 999;
	    overflow: hidden;
	    transition: all .5s ease;
	    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	}

	.nav-list-item-link {
	    display: block;
	}

	.nav-list-item-link:hover {
	    background: var(--primary);
	    color: var(--text-white);
	}
	.home-content-title {
	    font-size: 45px;
	}

	.booking-content-title {
	    font-size: 40px;
	}

	.offer-content-image-outer {
	    float: none;
	    padding-right: 0;
	    text-align: center;
	}

	.offer-content-outer {
	    text-align: center;
	}

	.offer-content-outer .section-title {
	    text-align: center;
	    font-size: 35px;
	    font-weight: 500;
	}
}

@media screen and (max-width: 991px){
	.home-content-title {
	    font-size: 40px;
	}
	.choose-list-item {
	    font-size: 16px;
	}

	.about-image-outer {
	    display: none;
	}

	.responsive-image-outer {
	    display: block;
	    margin-bottom: 20px;
	}

	.about-title-outer {
	    text-align: center;
	}

	.about-title-outer .about-title {
	    font-size: 35px;
	}

	.about-title-outer .about-subtitle {
	    font-size: 25px;
	}

	.contact-address-outer {
	    padding: 20px;
	    margin-bottom: 30px;
	    height: auto;
	}
}

@media screen and (max-width: 767px){
	.home-form {
	    display: block;
	}

	.home-form-item-outer {
	    width: 100%;
	    margin-right: 0;
	    margin-bottom: 20px;
	}

	.home-content-outer {
	    text-align: center;
	}

	.home-content-title {
	    font-size: 36px;
	}

	.home-content {
	    max-width: 100%;
	}

	.home-image-outer {
	    margin-top: 30px;
	}

	.section-title {
	    font-size: 40px;
	}

	.choose-list {
	    text-align: center;
	}

	.choose-list.text-right .choose-list-item {
	    flex-direction: unset;
	    text-align: center;
	    display: block;
	}

	.choose-list-item {
	    display: block;
	    font-size: 14px;
	}

	.choose-list-item i {
	    display: block;
	    margin: 0;
	    margin-bottom: 10px;
	}

	.service-item-name {
	    font-size: 16px;
	}

	.booking-content-title {
	    font-size: 25px;
	}

	.booking-content-outer {
	    text-align: center;
	    margin-bottom: 30px;
	}
}

@media screen and (max-width: 576px){
	.home-content-title {
	    font-size: 30px;
	}

	.section-title {
	    font-size: 30px;
	}

	.hotel-item-name {
	    font-size: 16px;
	}

	.booking-section {
	    padding: 30px 10px;
	}

	.footer-item-title {
	    margin-bottom: 10px;
	}

	.footer-bottom-outer {
	    display: block;
	    text-align: center;
	}

	.footer-bottom-left {
	    margin-bottom: 15px;
	}

	.banner-sec-outer {
	    height: 200px;
	}

	.banner-title {
	    font-size: 50px;
	}
}